/* Basic style */
body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  background-color: #FAFAFA;
  
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border-color: transparent;

}

/* Common styles */
.visually-hidden {
  position: absolute; 
  width: 1px;         
  height: 1px;       
  margin: -1px;       
  padding: 0;         
  border: 0;          
  clip: rect(0, 0, 0, 0); 
  clip-path: inset(50%);
  overflow: hidden;  
  white-space: nowrap; 
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.container {
  width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;



  outline: 3px solid red;
  outline-offset: -2px;
}

.ingredients-title,
.made-title, 
.products-title, 
.bestsellers-title, 
.reviews-title {
  width: 412px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.accent {
  color: #FD9222;
}

/* Header section */
.header {
  position: sticky;
  top: -1px;
  background-color: #fff;
  z-index: 100;
}
.header-container {
  display: flex;
}
.header-nav {
  display: flex;
  margin-right: auto;
}
.header-logo {
  width: 213px;
  display: flex;
  align-items: center;
  margin-right: 365px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  }
.header-logo-accent {
  font-style: italic;
}
.header-logo-img {
  margin-left: 4px;
}
.header-list {
  display: flex;
  gap: 24px;

}
.header-link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  
}
.header-link:hover,
.header-link:focus  {
  color: #FD9222;
}  
.header-link:active {
  color: #FD9222;
}

.header-link::after {
  content: '';
  position: absolute;
  bottom: 15px;

  display: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #FD9222;
}
.header-link.active::after {
  display: block; /* Показуємо підкреслення тільки для активної вкладки */
}
.socials {
  display: flex;
  align-items: center;
  gap: 14px;

}
.header-socials-item {
  gap: 14px;
}
.header-socials-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  
  transition: border-color 0.3s ease;
}

.header-socials-link:hover,
.header-socials-link:focus {
  border-color: #FD9222;

}
.socials-icon {
}

/* Hero section  */
.hero {
  padding-bottom: 80px;
}
.hero-container {
  padding: 40px;
  padding-top: 381px;  
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.7);
  background-image: 
  linear-gradient(rgba(17, 17, 17, 0.3),
                  rgba(17, 17, 17, 0.3)),
                    url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  width: 484px;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: white;
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
}
.hero-list {
  display: flex;
  gap: 14px;
}
.hero-item {
}
.hero-btn {
  border-radius: 100px;
  padding: 14px 40px;
  border: 1px solid transparent;
  transition:  color 300ms ease-in-out, background-color 300ms ease-in-out;
}
.hero-btn.primary {
  color: #fff;
  background-color: #FD9222;
}
.hero-btn.primary:hover,
.hero-btn.primary:focus {
  color: #FD9222;
  background-color: #FCF1E0;
}
.hero-btn.secondary {
  border-color: #fff;
}
.hero-btn.secondary:hover,
.hero-btn.secondary:focus {
  color: #FD9222;
  border-color: #FD9222;
}
.hero-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  background-color: transparent;
  transition:  color 300ms ease-in-out;
}
.hero-scroll:hover,
.hero-scroll:focus {
  color: #FD9222;
}
.hero-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: #FD9222;
  background-color: #fff;
  transition:  color 300ms ease-in-out, background-color 300ms ease-in-out;
}
.hero-icon use {
  width: 22px; /* Встановлюємо розміри іконки */
  height: 22px;
  display: block;
  margin: auto;
}
.hero-scroll:hover .hero-icon,
.hero-scroll:focus .hero-icon {
  color: #fff;
  background-color: #FD9222;
}
/* Features section */
.features {
  padding: 50px 0;
  background-color: #1E1823;
}
.features-list {
  display: flex;
  justify-content: center;
  gap: 44px;
}
.features-item {
  width: 308px;

}
.features-caption {
  margin-bottom: 18px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
}
.features-desc {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* Ingredients section */
.ingredients {
  padding-top: 120px;
}
.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingredients-item {
  position: relative;
  padding: 28px 23px;
  width: calc((100% - 32px * 3) / 4);
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid transparent;
  box-sizing: border-box;
  
}
.ingredients-item:hover {
  box-shadow: 6px 6px 10px rgba(17, 17, 17, 0.7);
}
.ingredients-item:nth-child(4n + 1) {
  background-color: #FD9222;
  color: #fff;
}
.ingredients-item:nth-child(4n + 3) {
  background-color: #1E1823;
  color: #fff;
}
.ingredients-item:nth-child(2n) {
  border-color: #FD9222;
}
.ingredients-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: none;
  stroke: #fff;
  z-index: 10;
}
.ingredients-item:nth-child(2n) .ingredients-icon {
  stroke: #FD9222;
}


.ingredients-pic {

}
.ingredients-caption {
  margin-top: 36px;
}

/* Made section */
.made {
  
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-img {
  border-radius: 15px;

}
.made-btn {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 22px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.made-btn-icon {
  fill: none;
  stroke: #fff;
}
.made-left-side {
  position: relative;

}

.made-right-side {
  background-color: #fff;
  padding: 32px;
  
 

}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  width: 350px;
  margin-bottom: 28px;
}

.made-item {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-item:last-child {
  margin-bottom: 0;
}
.made-item::before {
  content: "";
  flex-shrink: 0;
  display: block;
  margin-top: 5px;
  width: 8px;
  height: 8px;
  background-color: #4C4C4C;
  border: 1px solid #ECEDED;
  border-radius: 50%;
}
.made-item:hover::before {
  background-color: #FD9222;
}

/* Products section */
.products {
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.product-item {
  text-align: center;
  padding: 32px 20px;
  width: calc((100% - 18px * 3) / 4);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-sizing: border-box;
}
.product-img {

}
.product-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-top: 8px;
}
.product-kind {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.product-price {
  display: block;
  margin: 0 auto;
  margin-top: 18px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  width: 94px;
  font-weight: 600;
  font-size: 14px;
}

/* Bestsellers section */

.bestsellers {
}
.bestsellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.bestseller-item {
  text-align: center;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  width: calc((100% - 16px * 2) / 3);
  box-sizing: border-box;

}
.bestsellers-wrapper {
  position: relative;
  overflow: hidden;
}
.bestseller-img {

}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color:#fafafa;
  padding: 40px;
  backdrop-filter: blur(8px);
  background: linear-gradient(161deg, rgba(253, 253, 255, 0.1) 4%, rgba(8, 2, 21, 0.1) 110%);

  transform: translateY(100%);
  transition: transform 500ms ease-in;
}

.bestseller-item:hover
.overlay {
  transform: translateY(0);
}
.bestseller-desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-top: 28px;
  padding-bottom: 28px;
}
/* Reviews section */
.reviews {
  


}
.reviews-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 28px;
}
.review-item {
  position: relative;
  width: calc((100% - 28px * 2) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 10px 100px 0 rgba(17, 17, 17, 0,1);
  background: #FAFAFA;
  box-sizing: border-box;
  overflow: visible;
  margin-top: 50px;
}
.reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
.review-img {
  position: absolute;
  top: -42px;
  left: calc(50% - 40px);
}

.reviewer-name {
  padding-top: 18px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center; 
}
.review-desc {
  padding: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.review-btn {
  display: block;
  border: 1px solid #FD9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  margin: 50px auto 60px;
}
/* Footer section */
.footer {
  background-color: #1E1823;
  color: #FAFAFA;
}
.footer-top {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(253, 253, 255, 0.1);
}
.social-footer {
  margin: 0 auto;
}
.footer-slogan {
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.02em;
  width: 300px;
}
.footer-caption {
  padding-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
}
.footer-socials {
  /* display: flex;
  gap: 14px; */
 
}
.socials {
}
.socials-item {
}
.socials-link {
  display: inline-flex;
  align-self: start;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
  transition: border-color 0.3s ease;
}
.socials-link:hover {
  border-color: #FD9222;
}
.footer-socials-icon {
  transition: fill 0.3s ease;
}
.socials-link:hover .footer-socials-icon {
  color: #FD9222;
}
.footer-address {
}
.adress-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  padding-bottom: 14px;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 50px;
}
.footer-bottom-left {

}
.footer-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.footer-menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.footer-menu-item:hover,
.footer-menu-item:focus {
  color: #FD9222;
  
}
.footer-menu-link {
  display: inline-block;
}

.subscription-form {
  /* display: flex;
  align-items: center; */
}
.form-label-sub {
}

.form-input-sub {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 10px 20px;
  width: 330px;
  height: 52px;
}
.form-input-sub:hover,
.form-input-sub:focus {
  width: 330px;
  border-color: #FD9222;
  box-shadow: 0 0 5px rgba(253, 146, 34, 0.5);
  outline: none;
  color: #FAFAFA;
}

/* Автозаповнення */
/* .form-input-sub:autofill {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  width: 330px;
  height: 52px;
  color: #FAFAFA;
} */
/* .form-input-sub:autofill:hover,
.form-input-sub:autofill:focus {
  background-color: transparent;
  border-color: #FD9222;
  box-shadow: 0 0 5px rgba(253, 146, 34, 0.5);
  outline: none;
  color: #FAFAFA;
} */

.submit-btn-subscribe {
  background-color: #FD9222;
  border-radius: 100px;
  width: 137px;
  height: 52px;
  margin-left: 8px;
}




/* Модальне вікно */
.modal {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms ease-in, visibility 300ms ease-in;
  
    
  z-index: 1000;
}

/* .modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
} */


.modal-content {
  position: fixed;
  width: 517px;
  min-height: 794px;
  top: 50%;
  left: 50%;
  padding: 24px;
  /* padding-top: 72px; */
  border-radius: 15px;
  background: #fafafa;
  transform: translate(-50%, -50%); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  border: 2px solid #FD9222;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  min-height: 28px;
  color: #111;
  cursor: pointer;
}
.modal-btn-icon {
  stroke: currentColor;
}
.modal-caption {
  width: 298px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.form-label {
  display: block;
  margin-bottom: 8px;
  font-style: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  color: rgba(64, 64,64, 0.3);
}
.form-label:not(:first-of-type) {
  margin-top: 18px;
}
.form-field {
  position: relative;
}
.form-input {
  width: 100%;
  height: 68px;
  border: 2px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: border-color 300ms ease-in;
}

.form-input:hover,
.form-input:focus {
  border-color: #FD9222;
}
.form-input.text {
  display: block;

  height: 137px;
  padding: 22px 24px;
  text-align: left;
  resize: none;
}
.form-icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(24px, 22px);
  fill: transparent;
  stroke: #404040;
  transition: stroke 300ms ease-in;
}

.form-input:focus + .form-icon {
  stroke: #FD9222;
}

.accept {
  margin-top: 18px;
  display: flex;
  align-items: center;
}

.accent-modal{
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #FD9222;
}
.accept-box {
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  width: 20px;
  height: 20px;
}
.acception {
  display: inline-block;
  margin-right: 12px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  margin-left: 12px;
}
.submit-btn {
  border-radius: 100px;
  width: 117px;
  height: 45px;
  background-color: #FD9222;
  font-weight: 600;
  font-size: 14px;
  color: #fafafa;
  margin-top: 40px;
  cursor: pointer;
}